.box-in-profile {
    display: grid;
    margin: 20px;

    grid-template-columns: 1fr 6fr ;
    grid-template-rows: 100px 50px 50px 50px 100px 1fr; 

    grid-template-areas:
        "myinfo myinfo"
        "leftemail rightemail"
        "leftphone rightphone"
        "leftnickname rightnickname"
        "mybuy mybuy"
        "buylist buylist"
}

.myinfo {
    grid-area: myinfo;
}
.mybuy {
    grid-area: mybuy;
}
.buylist {
    grid-area: buylist;
}

.box-in-profile:nth-child(1) {
    grid-row:1/3;
}
.box-in-profile:nth-child(5) {
    grid-row:1/3;
}
.box-in-profile:nth-child(6) {
    grid-row:1/3;
}

.box-in-enviaccount {
    display: grid;
    margin-top: 40px;

    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1.5fr 1.5fr 1.5fr 100px;

    row-gap: 10px; 

    grid-template-areas:
        "space"
        "question1"
        "question2"
        "word1"
        "word2"
        "word3"
        "space2"
}

.box-in-myaccount {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 200px 320px 180px 1fr;

    row-gap: 10px;

    grid-template-areas:
        "myaccount"
        "joinevent"
        "webeingaccount"
        "lastdonation"
}

#envibox {
    width: 100%;
    height: auto;
    background-color: lightgray;
    color:  #00be68;
    padding: 30px;
    margin-top: 10px;
}

#webingbox {
    width: 100%;
    height: auto;
    background-color: lightgray;
    color:  #00be68;
    padding: 30px;
    margin: 10px 0px 10px 0px;   
}

.joineventbox {
    display: grid;

    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;

    row-gap: 30px;

    grid-template-areas:
        "enviaccountword enviaccountmoney"
        "envidonationword envidonationmoney"
        "totalword totalmoney"
}

#joinbox {
    border: 1px solid lightgray;
    padding: 30px;
}

.lastdonationbox {
    display: grid;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 30px;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr ;

    row-gap: 30px;

    grid-template-areas:
        "group-donation money-donation date-donation"
}

.indent1 {
    text-indent: 1rem;
}
.indent2 {
    text-indent: 0.5rem;
}
.indent2 {
    text-indent: 0.5rem;
}

/* .box-orderlist {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 30px;

    grid-template-areas:
        "orderpic orderinfo orderquantity orderpay orderdate"
}

.orderpic {
    grid-area: orderpic;
    width: 70%;
    float: left;
    vertical-align: center;
    margin: 10px;
}

.orderinfo {
    grid-area: orderinfo;
    vertical-align: center;
}

.cartbutton {
    grid-area: cartbutton;
    vertical-align: center;
}

#box-layout {
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    border-collapse: collapse;
} */