.box-in-profile {
    display: grid;

    grid-template-columns: 1fr 6fr ;
    grid-template-rows: 30px 50px 50px 50px 50px 50px 50px 30px 1fr; 

    grid-template-areas:
        "myinfo myinfo"
        "leftemail rightemail"
        "leftphone rightphone"
        "leftnickname rightnickname"
        "leftresturant rightresturant"
        "leftaddress rightaddress"
        "leftresturantnumber rightresturantnumber"
        "myitem myitem"
        "itemlist itemlist"
}

.box-in-profile:nth-child(1) {
    grid-row:1/3;
}
.box-in-profile:nth-child(8) {
    grid-row:1/3;
}
.box-in-profile:nth-child(9) {
    grid-row:1/3;
}

.box-in-enviaccount {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 1fr 1.5fr 1.5fr 1.5fr 100px;

    row-gap: 10px; 

    grid-template-areas:
        "space"
        "question1"
        "question2"
        "word1"
        "word2"
        "word3"
        "space2"
}

.indent1 {
    text-indent: 1rem;
}
.indent2 {
    text-indent: 0.5rem;
}
.indent2 {
    text-indent: 0.5rem;
}