.box-container {
    display: inline-grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1.1fr 1.1fr 1.1fr 1.1fr 1.1fr 1fr 1.1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-template-areas:
        "signup1 "
        "socialsignup "
        "email "
        "password"
        "passwordconfirm"
        "nickname"
        "phonetype1"
        "phonetype2"
        "agree1"
        "agree2"
        "agree3"
        "agree4"
        "agree5"
        "agreeall"
        "signup2"
}

.signup1 {
    grid-area: signup1; 
    text-align: center;
}
.socialsignup {grid-area: socialsignup; }
.email {grid-area: email; }
.password {grid-area: password; }
.passwordconfirm {grid-area: passwordconfirm; }
.nickname {grid-area: nickname; }
.phonetype1 {grid-area: phonetype1; }
.phonetype2 {grid-area: phonetype2; }
.agree1 {grid-area: agree1; }
.agree2 {grid-area: agree2; }
.agree3 {grid-area: agree3; }
.agree4 {grid-area: agree4; }
.agree5 {grid-area: agree5; }
.agreeall {
    grid-area: agreeall; 
    float: right;
    text-align:right;
}
.signup2 {
    grid-area: signup2; 
    text-align: center;
}

