.box-container {
    display: grid;

    row-gap: 10px; 

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 7fr 1fr ;

    grid-template-areas:
        "signupword "
        "socialsignup "
        "email "
        "password"
        "passwordconfirm"
        "nickname"
        "phonetype"
        "agree"
        "signupbutton"

}

.signupword {
    grid-area: signupword;
    text-align: center;
}

.socialsignup {
    grid-area: socialsignup;
}

.email {
    grid-area: email;
}

.password {
    grid-area: password;
}

.passwordconfirm {
    grid-area: passwordconfirm;
}

.nickname {
    grid-area: nickname;
}

.phonetype {
    grid-area: phonetype;
}

.agree {
    grid-area: agree;
}

#inagree {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.box-phone {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;

    grid-template-areas:
        "phone_word"
        "phonetype1"
        "phonetype2"
}

.phonetype1 {
    grid-area: phonetype1;
}

.phonetype2 {
    grid-area: phonetype2;
}

.box-agree {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    row-gap: 10px;

    grid-template-areas:
        "agree1"
        "agree2"
}


.agree1 {
    grid-area: agree1;
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    padding: 15px 30px 15px 30px; 
}

.agree2 {
    grid-area: agree2;
    width: 100%;
    height: 50px;
    border: 1px solid lightgray;
    padding: 15px 30px 15px 30px; 
}

.signupbutton {
    grid-area: signupbutton;
    text-align: center;
}