{% extends "base.html" %}
{% load static %}
{% block head%}

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel = "stylesheet" href = "{% static 'css/customerpage.css'%}">

<style>
    body {
        color: #555;
        background: #eeeeee;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1 {
        padding: 50px 0;
        font-weight: 400;
        text-align: center;
    }
    p {
        margin: 0 0 20px;
        line-height: 1.5;
    }
    section {
        display: none;
        padding: 20px 0 0;
        border-top: 1px solid #ddd;
    }
    /*라디오버튼 숨김*/
    input {
        display: none;
    }
    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        font-weight: 600;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;
    }
    label:hover {
        color: #2A6049;
        cursor: pointer;
    }
    /*input 클릭시, label 스타일*/
    input:checked + label {
        color: #2A6049;
        border: 1px solid #ddd;
        border-top: 2px solid #2A6049;
        border-bottom: 1px solid #ffffff;
    }

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2,
    #tab3:checked ~ #content3,
    #tab4:checked ~ #content4 {
        display: block;
    }
    #fontsub {
        font-size: 120%;
        color: #545454;
    }
    #fontbold {
        font-weight: bold;
    }
    #green {
        color: #00be68;
    }
</style>
{% endblock %}

{% block content %}

<div>

    <div class="row">
        <div class="col-sm-3">

            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                     alt="avatar">
                <h6>{{user.nickname}}</h6>
                <input type="file" class="text-center center-block file-upload">
            </div>
            </hr><br>


            <ul class="list-group" class="text-center" style="width:300px;">
                <li class="list-group-item text-muted"><strong>나의 활동</strong><i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item"><span>환경계좌 : </span><span id="green"><strong>{{user.env_money}}</strong></span>
                    <strong>점</strong></li>
                <li class="list-group-item"><span class="pull-left">픽업 전 : </span> <strong>0 건</strong></li>
                <!-- <li class="list-group-item"><span class="pull-left"><strong>Posts</strong></span> {{order_item.quantity}}<strong>
                    건</strong></li> -->
            </ul>

        </div>
        
        <div class="col-sm-9">
            <input id="tab1" type="radio" name="tabs" checked> <!--디폴트 메뉴-->
            <label for="tab1">프로필</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">Webeing 환경계좌</label>

            <!-- 프로필 페이지 -->
            <section id="content1">

                <div class="box-in-profile">

                    <div class="myinfo">
                        <h3>개인 정보</h3>
                        <hr style="border: 1px solid lightgray; width:100%; float:left;">
                    </div>

                    <div class="leftemail">
                        <p id = "fontsub">이메일</p>
                    </div>

                    <div class="rightemail">
                        <p>{{user.email}}</p>
                    </div>

                    <div class="leftphone">
                        <p id = "fontsub">휴대폰 번호</p>
                    </div>

                    <div class="rightphone">
                        <p id="fontsub">{{user.phone_number}}</p>
                    </div>

                    <div class = "leftnickname">
                        <p id = "fontsub">닉네임</p>
                    </div>

                    <div class = "rightnickname">
                        <p>{{user.nickname}}</p>
                    </div>

                    <div class="mybuy" style="margin-top: 2rem;">
                        <h3>주문 내역</h3>
                        <hr style="border: 1px solid lightgray; width:100%; float:left;">
                    </div>

                    <div class = "buylist">

                        <table style="width:100%; margin-bottom: 3rem;">
                            <colgroup>
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                                <col width="20%">
                                <col width="*">
                            </colgroup>
                            
                            <tr>
                                <td>상품사진</td>
                                <td>상품명</td>
                                <td>수량</td>
                                <td>금액</td>
                                <td>구매일자</td>
                            </tr>
                        </table>

                        {% for order_items in order_items_list %}
                        {% for order_item in order_items %}

                            <table style="width:100%;">
                                <colgroup>
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="20%">
                                    <col width="*">
                                </colgroup>
                                
                                <tr>
                                    <td>
                                        <img style="width: 70px; height: 70px;" src="{{order_item.product.image.url}}">
                                    </td>
                                    <td>
                                        <h5>{{order_item.product}}</h5>
                                    </td>
                                    <td>
                                        <h5>{{order_item.quantity}} 개</h5>
                                    </td>
                                    <td>
                                        <h5>{{order_item.price|floatformat:"0"}} 원</h5>
                                    </td>
                                    <td>
                                        <h5>{{order_item.created}}</h5>
                                    </td>
                                </tr>
                            </table>

                        <br/>
                        {% endfor %}
                        <br/>
                        <br/>
                        {% endfor %}


                        {% for order in orderitems.items.all %}
                        {{ order.created }}
                        {% endfor %}

                    </div>

                </div>

            </section>

            <!--  페이지 -->
            <section id="content2">

                <div class = "box-in-myaccount">

                    <div class="myaccount">
                        <h3>"<span id="green">{{user.nickname}}</span>" 님의 환경계좌금액</h3>
                        <div id="envibox">
                            <h2><span id="green">"{{user.env_money}}"원</span>만큼 환경에 기여하셨습니다.</h2>
                        </div>
                    </div>

                    <div class="joinevent">
                        <h3>지구를 위한 모금행사에 참여하기</h3>
                        
                        <div class="joineventbox" style="border: 1px solid lightgray; padding: 30px; margin-top: 10px;">
                            
                            <div class="enviaccountword"><h4>환경계좌 금액</h4></div>

                            <div class="enviaccountmoney">
                                <h4>{{user.env_money}}</h4>
                            </div>
                            <div class="envidonationword"><h4>모금하실 금액</h4></div>
                            <div class="envidonationmoney">
                                <h4>{{user.env_money}}</h4>
                            </div>
                            <div class="totalword"><h4>모금참여 후 잔액</h4></div>
                            <div class="totalmoney">
                                <h4>0</h4>
                            </div>

                        </div>

                    </div>

                    <div class="webeingaccount">
                        <h3>위빙 모금함</h3>
                        <hr style="border: 1px solid lightgray; width:100%; float:left;">

                        <div id="envibox">
                            <h2>위빙을 통해 <span id="green">"{{total}}"원</span> 만큼 절약되었습니다.</h2>
                        </div>

                    </div>

                    <div class="lastdonation" style="margin-top:3rem;">
                        <h4>이전 모금 기록</h4>

                        <div class="lastdonationbox">

                            <div class="group-donation">A단체</div>

                            <div class="money-donation">1,000,000원</div>

                            <div class="date-donation">2020년 10월 18일</div>

                        </div>

                    </div>

                </div>

                <div class = "box-in-enviaccount">

                    <div class="space">
                        <h3>위빙이 환경과 함께 제공하는 서비스</h3>
                        <hr style="border: 1px solid lightgray; width:100%; float:left;">
                    </div>

                    <div class = "question1">
                        <p id = "fontsub">Q. 환경계좌란 무엇인가요?</p>
                        <p class = "indent1">위빙 서비스를 사용하면서 고객님께서 환경 오염의 감소, 음식물 쓰레기 처리 비용의 감소 등에 기여하신 부분을 포인트처럼 적립하여 저장하는 계좌 입니다.</p>
                    </div>

                    <div class = "question2">
                        <p id = "fontsub">Q. 환경 계좌는 어떻게 사용 하나요?</p>
                        <p class = "indent1">적립된 금액은 모두 위빙 서비스 내에서 사용 할 수 있습니다.</p>
                    </div>

                    <div class = "word1">
                        <p class = "indent1" id = "fontbold;">1. 위빙에서 식품 구매시 포인트로 사용</p>

                        <ul class = "indent2" style = "list-style:none;">
                            <li>위빙에서 식품을 구매할 때 보유한 포인트를 1,000원 단위로 사용할 수 있습니다. </li><br>
                            <li>
                                <a href="/main">
                                    <button type="button" class="btn btn-success">식품 구매하러 가기</button>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class = "word2">
                        <p class = "indent1" id = "fontbold;">2. 위빙에서 판매하는 굿즈 구매시 사용</p>

                        <ul class = "indent2" style = "list-style:none;">
                            <li>위빙에서는 회사의 가치를 이행하기 위하여 플라스틱 용기, 비닐 포장 등을 사용하지 않고 있습니다.</li>
                            <li>또한 많은 사람들이 일상생활 속에서 환경을 생각하면서 소비 하기를 바라는 마음에서 텀블러와 에코백 등 재사용 할 수 있는 물품들을 판매하고 있습니다.</li>
                            <li>위빙 굿즈를 구매할 때 보유한 포인트를 1,000원 단위로 사용할 수 있습니다.</li><br>
                            <li>
                                <a href="{% url 'shop:envigoods' %}">
                                    <button type="button" class="btn btn-success">굿즈 구매하러 가기</button>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class = "word3">
                        <p class = "indent1" id = "fontbold;">3. 위빙에서 진행하는 환경을 위한 모금 활동에 기부</p>

                        <ul class = "indent2" style = "list-style:none;">
                            <li>위빙에서는 미래 세대에게 아름다운 지구를 남겨주기 위하여 많은 활동들을 하고 있습니다.</li>
                            <li>그 일환으로 위빙에서는 정기적으로 환경 단체에 기부를 하고 있습니다.</li>
                            <li>위빙을 사용하면서 환경 계좌에 적립된 금액을 기부하는 데 사용 할 수 있습니다.</li><br>
                            <li>
                                <button type="button" class="btn btn-success">위빙과 함께 기부하러 가기</button>
                            </li>
                        </ul>
                    </div>

                </div>


            </section>

        </div>

    </div><!--/tab-content-->

</div><!--/col-9-->
</div><!--/row-->


{% endblock %}
