{% extends "base.html" %}
{% load static %}
{% block content %}

<form method = "POST" action = "{% url 'login' %}">
    {% csrf_token %}
    ID : 
    <br>
    <input name = "email" type = "text">
    <br>
    PASSWORD:
    <br>
    <input name = "password" type = "password">
    <input type = "submit" class = "btn btn-primary">
</form>
<!-- <div id = "login">
    <div class="mt-2">ID</div>
    <b-form-input v-model="text" placeholder="Enter your name"></b-form-input>
    
    <div class="mt-2">PASSWORD</div>
    <b-form-input v-model="password" placeholder="Enter your password"></b-form-input>
    <>
    <b-button variant="outline-primary">Button</b-button>

</div> -->
{% endblock %}