{% extends "base.html" %}
{% load static %}
{% block content %}


<title>Login</title>

<link rel = "stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>

<style type="text/css">
    #green {color: #00be68}
    #fontsize2 {font-size: 200%;}

</style>


<div class = "box-container">


    <div class = "login1" id = "fontsize2">
        로그인
    </div>


    <div class = "email">

        <p>E-mail</p>

        <div class="input-group mb-3" style = "width: 100%; " >
            <input type="text" class="form-control" placeholder="example@gmail.com" aria-label="example@gmail.com" aria-describedby="basic-addon2 " >
        </div>

    </div>


    <div class = "password">
        
        <p>password</p>

        <div class="input-group mb-3" style = "width: 100%; ">
            <input type="text" class="form-control" placeholder="비밀번호 입력" aria-label="비밀번호 입력" aria-describedby="basic-addon2">
        </div>

    </div>

    
    <div class = "autologin">
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">자동 로그인</label>

            <span style = "float: right;"><a href = "#">아이디 찾기</a> | <a href = "#">비밀번호 찾기</a> </span>
        </div>
        
    </div>



    <div class = "login2">
        <button type="button" class="btn btn-success btn-lg btn-block" style = "width: 100%; ">로그인</button>
    </div>


    <div class = "sociallogin">
        <button type="button" class="btn btn-outline-secondary btn-sm" style = "float:left; width: 48%; ">네이버로 로그인</button>
        <button type="button" class="btn btn-outline-secondary btn-sm" style = "float:right; width: 48%; ">카카오로 로그인</button>
    </div>


    <div class = "gosignup">
        <p>아직 webeing 회원이 아니신가요? <a href = "/signupcustomer"><span id = "green" style = "margin-left: 30px; ">회원가입하기</span></a></p>
    </div>


    <div class = "gosignupseller">
        <p>webeing에서 물품을 판매하실 건가요? <a href = "/signupseller"><span id = "green" style = "margin-left: 30px; ">사장님 회원가입하기</span></a></p>
    </div>

</div>

{% endblock %}