{% extends "base.html" %}
{% load static %}
{% block content %}

  {% csrf_token %}

<title>signup_customer</title>

<link rel="stylesheet" type = "text/css" href = "{% static 'css/signupcustomer.css' %}">

<style type = "text/css">
  #fontsubtitle {
    font-size: 100%;
    font-weight: bold;
  }
  #fontsize2 {font-size: 200%;}
  #fontbold {font-weight: bold;}
  #green {color: #00be68}
</style>

<div class = "container">

  <div class = "signup1">
    <span id = "fontsize2" id = "fontbold">회원가입</span>
  </div>


  <div class = "socialsignup">

    <button type="button" class="btn btn-outline-secondary btn-sm" style = "float:left; width: 48%; ">네이버로 회원가입</button>
    <button type="button" class="btn btn-outline-secondary btn-sm" style = "float:right; width: 48%; ">카카오로 회원가입</button>

  </div>


  <div class = "email">
    <span id = "fontsubtitle">E-mail</span>

    <div class="input-group mb-3" style = "width: 100%; " >
        <input type="text" class="form-control" placeholder="example@gmail.com" aria-label="example@gmail.com" aria-describedby="basic-addon2 " >
    </div>
  </div>


  <div class = "password">
    <span id = "fontsubtitle">비밀번호</span>

    <div class="input-group mb-3" style = "width: 100%; " >
        <input type="text" class="form-control" placeholder="*******" aria-label="*******" aria-describedby="basic-addon2 " >
    </div>
  </div>


  <div class = "passwordconfirm">
    <span id = "fontsubtitle">비밀번호 확인</span>

    <div class="input-group mb-3" style = "width: 100%; " >
        <input type="text" class="form-control" placeholder="*******" aria-label="*******" aria-describedby="basic-addon2 " >
    </div>
  </div>


  <div class = "nickname">
    <span id = "fontsubtitle">닉네임</span>

    <div class="input-group mb-3" style = "width: 100%; " >
        <input type="text" class="form-control" placeholder="닉네임을 입력해주세요" aria-label="닉네임을 입력해주세요" aria-describedby="basic-addon2 " >
    </div>
  </div>


  <div class = "phonetype1">
    <span id = "fontsubtitle">휴대폰 번호 입력</span>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="010-1234-5678" aria-label="010-1234-5678" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" style = "width: 70px;"><span id = "green">인증</span></button>
      </div>
    </div>
  </div>


  <div class = "phonetype2">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="인증번호 입력" aria-label="인증번호 입력" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" style = "width: 70px;"><span id = "green">확인</span></button>
      </div>
    </div>
  </div>


  <div class = "agree1">
    <form>
      <span id = "fontsubtitle">이용약관동의</span>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1">

        <!-- 왼쪽 내용보기 -->
        <input type="checkbox" class="form-check-input" id="exampleCheck1" style = "width: 30px; height: 30px;">
        <label class="form-check-label" for="exampleCheck1">이용약관 동의(필수)</label>

        <span>
          <a href = "#">
          내용보기 <span id = "green" id = "fontbold">></span>
          </a>
        </span>
      </div>

    </form>
  </div>


  <div class = "agree2">

  </div>


  <div class = "agree3">
    
  </div>


  <div class = "agree4">
    
  </div>


  <div class = "agree5">
    
  </div>


  <div class = "agreeall">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">전체동의하기</label>
    </div>
  </div>


  <div class = "signup2">
    <button type="button" class="btn btn-success btn-lg btn-block" style = "width: 100%; ">회원가입</button>

  </div>


</div>

{% endblock %}