{% extends "base.html" %}
{% load static %}
{% block content %}

<form action="{% url 'signup_customer' %}" method="POST">
  {% csrf_token %}
  <!-- {{form.as_p}} -->
  <h3 class="mb-3"><strong>회원가입</strong></h3>
  <div class="mb-3">
    <label for="username">UserID</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">ID</span>
      </div>
      <input type="text" class="form-control" id="username" placeholder="you@example.com" required name="username">
      <button id="checkid"
        style="display:inline; border-radius: 5px;background-color : orange;color:white">중복확인</button><br>
      <div class="invalid-feedback" style="width: 100%;">
        Your userID is required.
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="phonenumber">전화번호 <span class="text-muted">(필수)</span></label>
    <input type="phonenumber" class="form-control" id="phonenumber" placeholder="010-2222-2222" required
      name="phonenumber">
    <div class="invalid-feedback">
      <!-- Please enter a valid email address for shipping updates. -->
    </div>
  </div>
  <div class="mb-3">
    <label for="dateofbirth">생일 <span class="text-muted">(필수)</span></label>
    <input type="dateofbirth" class="form-control" id="dateofbirth" placeholder="1996-04-06" required
      name="dateofbirth">
    <div class="invalid-feedback">
      <!-- Please enter a valid email address for shipping updates. -->
    </div>
  </div>
  <div class="mb-3">
    <label for="nickname">Nickname <span class="text-muted">(필수)</span></label>
    <input type="nickname" class="form-control" id="nickname" placeholder="개구리" required name="nickname">
    <div class="invalid-feedback">
      <!-- Please enter a valid email address for shipping updates. -->
    </div>
  </div>
  <div class="mb-3">
    <label for="address">비밀번호</label>
    <input type="password" class="form-control" id="address" placeholder="password" required name="password">
    <div class="invalid-feedback">
      Please enter your shipping address.
    </div>
  </div>
  <div class="mb-3">
    <label for="address">비밀번호 확인</label>
    <input type="password" class="form-control" id="address" placeholder="password" required name="password_confirm">
    <div class="invalid-feedback">
      Please enter your shipping address.
    </div>
  </div>

  



  <div class = "agree" id = "">

    <style>
      ul>li{list-style: none}
      a{text-decoration: none;}
      .clearfix::after{content: "";display: block;clear: both;}
      #joinForm{width: 460px;margin: 0 auto;}
      ul.join_box{border: 1px solid #ddd;background-color: #fff;}
    </style>

    <form action="" id="joinForm">

      <div class = "box-agree">

        <ul class="join_box">

          <div class = "agree_word">

            <li class="checkBox check01">
                <ul class="clearfix">
                    <li>이용약관, 개인정보 수집 및 이용,
                        위치정보 이용약관(선택), 프로모션 안내
                        메일 수신(선택)에 모두 동의합니다.</li>
                    <li class="checkAllBtn">
                        <input type="checkbox" name="chkAll" id="chk" class="chkAll">
                    </li>
                </ul>
            </li>

          </div>

          <div class = "agree1">
            <li class="checkBox check02">
                <ul class="clearfix">
                    <li>이용약관 동의(필수)</li>
                    <li class="checkBtn">
                        <input type="checkbox" name="chk"> 
                    </li>
                </ul>
                <textarea name="" id="">여러분을 환영합니다.
                네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과 관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
                </textarea>
            </li>

          </div>

          <div class = "agree2">

            <li class="checkBox check03">
                <ul class="clearfix">
                    <li>개인정보 수집 및 이용에 대한 안내(필수)</li>
                    <li class="checkBtn">
                        <input type="checkbox" name="chk">
                    </li>
                </ul>

                <textarea name="" id="">여러분을 환영합니다.
                네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과 관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
                 </textarea>
            </li>

          </div>

          <div class = "agree3">
            <li class="checkBox check03">
                <ul class="clearfix">
                    <li class="checkBtn">
                        <input type="checkbox" name="chk">
                        <p>위치정보 이용약관 동의(선택)</p>
                    </li>
                </ul>

                <textarea name="" id="">여러분을 환영합니다.
                네이버 서비스 및 제품(이하 ‘서비스’)을 이용해 주셔서 감사합니다. 본 약관은 다양한 네이버 서비스의 이용과 관련하여 네이버 서비스를 제공하는 네이버 주식회사(이하 ‘네이버’)와 이를 이용하는 네이버 서비스 회원(이하 ‘회원’) 또는 비회원과의 관계를 설명하며, 아울러 여러분의 네이버 서비스 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.
                </textarea>
            </li>

          </div>

          <!-- 
            <li class="checkBox check04">
                <ul class="clearfix">
                    <li>이벤트 등 프로모션 알림 메일 수신(선택</li>
                    <li class="checkBtn">
                        <input type="checkbox" name="chk">
                    </li>
                </ul>

            </li>

          -->

        </ul>

      </div>

      <div class = "signup2">

        <ul class="footBtwrap clearfix">
            <li><button class="fpmgBt1">비동의</button></li>
            <!-- <li><button class="btn btn-primary btn-large" type="submit">가입하기</button></li> -->
            <li><button class="fpmgBt2">동의</button></li>
        </ul>

      </div>
        
    </form>

  </div>

</form>

<!-- <div id="signup">
  <b-form @submit.stop.prevent>
    <label for="feedback-user">User ID</label>
    <b-input v-model="userId" :state="validation_id" id="feedback-user"></b-input>
    <b-form-invalid-feedback :state="validation_id">
      Your user ID must be 5-12 characters long.
    </b-form-invalid-feedback>
    <b-form-valid-feedback :state="validation_id">
      Looks Good.
    </b-form-valid-feedback>
  </b-form>
  <b-form @submit.stop.prevent>
    <label for="feedback-password">Password</label>
    <b-input v-model="userPassword" :state="validation_password" id="feedback-password"></b-input>
    <b-form-invalid-feedback :state="validation_password">
      비밀번호를 혼합해서 설정해주세요!
    </b-form-invalid-feedback>
    <b-form-valid-feedback :state="validation_password">
      맞는 비밀번호입니다.
    </b-form-valid-feedback>
  </b-form>
  <b-form @submit.stop.prevent>
    <label for="Nickname">Nickname</label>
    <b-input v-model="userNickname" id="feedback-password"></b-input>
    <label for="Phonenumber">Phone-number</label>
    <b-input v-model="userPhonenumber" id="feedback-password"></b-input>
  </b-form>
</div> -->

<title>signupcustomer</title>

<link rel="stylesheet" href = "{% static 'css/signupcustomer.css' %}" />

<style type = "text/css">
  #fontsize15 {font-size: 150%;}
  #fontsize2 {font-size: 200%;}
  #fontbold {font-weight: bold;}
</style>

<div class = "signup1">
  <
</div>

<div class = "socialsignup">

</div>

<div class = "email">

</div>

<div class = "password">

</div>

<div class = "confirm">

</div>

<div class = "nickname">
  
</div>

<div class = "phonetype1">
  
</div>

<div class = "phonetype2">
  
</div>

<div class = "agree1">
  
</div>

<div class = "agree2">
  
</div>

<div class = "agree3">
  
</div>

<div class = "agree4">
  
</div>

<div class = "agree5">
  
</div>

<div class = "agreeall">
  
</div>

<div class = "signup2">
  
</div>

{% endblock %}

