{% extends "base.html" %}
{% load static %}
{% block content %}


<title>signup</title>

<link rel="stylesheet" href = "{% static 'css/signup.css' %}" />

<style type = "text/css">
    #green {color: #00be68}
    #fontsize15 {
        font-size: 150%;
        font-weight: bold;
    }
    #fontsize2 {
        font-size: 200%;
        font-weight: bold;
    }
    #fontsize3 {
        font-size: 300%;
        font-weight: bold;
    }

</style>

<div class = "box-container">


    <div class = "signup">
        <p id = "fontsize2">회원가입</p>
    </div>

    <div class = "customer">

        <div class = "incontainer">

            <a href="{% url 'signup_customer' %}">

                <div class = "topcard">
                    <img src = "{% static '/img/customer.png' %}" style = "width : 300px;" alt="Center image">
                </div>

                <div class = "bottomcard" id = "fontsize15" style="color:black">
                    WEBEING 에서
                    <br>
                    상품을 <span style="color:#2a6049">구매할</span> 고객님

                </div>
            </a>

        </div>

    </div>

    <div class = "seller">

        <div class = "incontainer">

            <a href = "{% url 'signup_seller' %}"> 

                <div class = "topcard">
                    <img src = "{% static '/img/seller.png' %}" style = "width : 300px;" alt="Center image">
                </div>

                <div class = "bottomcard" id = "fontsize15" style="color:black">
                    WEBEING 에서
                    <br>
                    상품을 <span style="color:#2a6049">판매할</span> 점주님
                </div>
            </a>

        </div>

    </div>

    <div class = "gologin">
        <span style = "margin-right: 20px;">이미 WEBEING 회원이신가요?</span>
        <span id = "green">
            <a href = "{% url 'login' %}" style="color:#2a6049; font-weight:bold">로그인 하러가기</a>
        </span>
    </div>

</div>


{% endblock %}

