{% extends "base.html" %}
{% load static %}
{% block content %}

<form action="{% url 'signup_seller' %}" method="POST">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <h3 class="mb-3"><strong>회원가입</strong></h3>
    <div class="mb-3">
      <label for="username">UserID</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">ID</span>
        </div>
        <input type="text" class="form-control" id="username" placeholder="you@example.com" required name="username"> <button id = "checkid"  style="display:inline; border-radius: 5px;background-color : orange;color:white">중복확인</button><br>
        <div class="invalid-feedback" style="width: 100%;">
          Your userID is required.
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label for="phonenumber">전화번호 <span class="text-muted">(필수)</span></label>
      <input type="phonenumber" class="form-control" id="phonenumber" placeholder="010-2222-2222"required name="phonenumber">
      <div class="invalid-feedback">
        <!-- Please enter a valid email address for shipping updates. -->
      </div>
    </div>
    <div class="mb-3">
      <label for="dateofbirth">생일 <span class="text-muted">(필수)</span></label>
      <input type="dateofbirth" class="form-control" id="dateofbirth" placeholder="1996-04-06"required name="dateofbirth">
      <div class="invalid-feedback">
        <!-- Please enter a valid email address for shipping updates. -->
      </div>
    </div>
    <div class="mb-3">
      <label for="nickname">Nickname <span class="text-muted">(필수)</span></label>
      <input type="nickname" class="form-control" id="nickname" placeholder="개구리"required name="nickname">
      <div class="invalid-feedback">
        <!-- Please enter a valid email address for shipping updates. -->
      </div>
    </div><div class="mb-3">
        <label for="seller_address">가게 주소 <span class="text-muted">(필수)</span></label>
        <input type="seller_address" class="form-control" id="seller_address" placeholder="서울시 동작구"required name="seller_address">
        <div class="invalid-feedback">
          <!-- Please enter a valid email address for shipping updates. -->
        </div>
      </div><div class="mb-3">
        <label for="business_number">사업자 등록 번호 <span class="text-muted">(필수)</span></label>
        <input type="business_number" class="form-control" id="business_number" placeholder="000-000000-00"required name="business_number">
        <div class="invalid-feedback">
          <!-- Please enter a valid email address for shipping updates. -->
        </div>
      </div><div class="mb-3">
        <label for="seller_name">가게명 <span class="text-muted">(필수)</span></label>
        <input type="seller_name" class="form-control" id="seller_name" placeholder="개구리"required name="seller_name">
        <div class="invalid-feedback">
          <!-- Please enter a valid email address for shipping updates. -->
        </div>
      </div>
    <div class="mb-3">
      <label for="address">비밀번호</label>
      <input type="password" class="form-control" id="address" placeholder="password" required name="password">
      <div class="invalid-feedback">
        Please enter your shipping address.
      </div>
    </div>
    <div class="mb-3">
      <label for="address">비밀번호 확인</label>
      <input type="password" class="form-control" id="address" placeholder="password" required name="password_confirm">
      <div class="invalid-feedback">
        Please enter your shipping address.
      </div>
    </div>

      <button class="btn btn-primary btn-large" type="submit">가입하기</button>
  </form>
{% endblock %}