{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="signup_2image">
    <b-container fluid class="p-5  " style = "float : center;">
        <!-- <b-row> -->
            <div class="row" style = "float : center;">
                <div class="col-6" style = "text-align : center;">
                    <!-- <b-col> -->
                   <a href="{% url 'tos_user' %}"><b-img thumbnail fluid src="../static/img/customer.png" style = "width : 300px;" alt="Center image"></b-img></a>
                    <!-- </b-col> -->
                </div>
                <div class="col-6" style = "text-align : center;">
                    <!-- <b-col> -->
                    <a href="{% url 'tos' %}"><b-img thumbnail fluid src="../static/img/seller.png" style = "width : 300px;" alt="Center image"></b-img></a>
                    <!-- </b-col> -->
                </div>
                <div class="col-6" style = "text-align : center;">
                        <!-- <b-col> -->
                       Webeing에서
                       <br>
                       상품을 구매할 고객님
                        <!-- </b-col> -->
                    </div>
                <div class="col-6" style = "text-align : center;">
                            <!-- <b-col> -->
                           Webeing에서
                           <br>
                           상품을 판매할 점주님
                            <!-- </b-col> -->
                    </div>
            </div>
        <!-- </b-row> -->

    </b-container>
</div>
{% endblock %}
