.box-container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "finalorder"
        "finalordersituation"
        "finalorderlist"
        "checkout"
}

.finalorder {
    grid-area: finalorder;
    text-align: center;

}

.finalordersituation {
    grid-area: finalordersituation;

}