.box-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr;

    column-gap: 20px;

    grid-template-areas:
        "ordercomplete receipt"
}

.ordercomplete {
    grid-area: ordercomplete;
    text-align: center;
    padding: 30px 30px 30px 30px;
    border: 2px solid lightgray;
}

.receipt {
    grid-area: receipt;
    padding: 30px 30px 30px 30px;
    border: 2px solid lightgray;
}

#gohome {
    text-align: center;
    width: 100%;
}