.box-container {
    display: grid;

    row-gap: 20px; 

    grid-template-columns: 1fr;
    grid-template-rows: 100px 150px 1fr 400px 120px;
    grid-template-areas:
        "orderword"
        "finalordersituation"
        "finalorderlist"
        "finalorder"
        "checkout"
}

.orderword {
    grid-area: orderword;
    text-align: center;

}

.finalordersituation {
    grid-area: finalordersituation;

}

.finalorderlist {
    grid-area: finalorderlist;
}

.finalorder {
    grid-area: finalorder;
}

.chekcout {
    grid-area: checkout;
    display: block;
    margin: auto;
}

#table1-layout {
    height: 400px;
    width: 100%;
    padding: 20px;
    border: 2px solid lightgray;
    border-collapse: collapse;
    border-right: none;
    border-left: none;
}

#table2-layout {
    height: 400px;
    width: 100%;
    padding: 40px;
    border: 4px solid lightgray;
    /* border-right: none;
    border-left: none;     */
    border-collapse: collapse;
}
