{% extends 'base.html' %}

{% block title %}
Order Complete
{% endblock %}

{% block content %}

<!-- <div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert">Thank you!<br/>
            Your order has been successfully completed.<br/>
    </div>
</div> -->

<title>OrderComplete</title>

<style>
    #fontsize15 {font-size: 150%; }
    #green { color: #00be68; }

    .row {
        display: flex;
    }

    .column {
        box-shadow: 10px 10px 2px lightgrey;
        text-align: center;
        flex: 45%;
    }

    /* btn-primary 색상 변경을 위한 코드 start */
    .btn-primary {
        background-color: #00be68;
        border-color: #00be68;
        color: #FFF; 
    }
    .btn-primary:hover,
    .btn-primary:focus {
        border-color: #00be68;
        background-color: #00be68;
        color: #FFF; 
    }
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:active:focus,
    .btn-primary:active:hover {
        border-color: #00be68;
        background-color: #00be68;
        color: #FFF; 
    }
    /* btn-primary 색상 변경을 위한 코드 end */


    .btn-outline-primary {
        background-color: #FFF;
        border-color: #00be68;
        color: #00be68; 
    }
    .btn-outline-primary:hover,
    .btn-outline-primary:focus {
        border-color: #00be68;
        background-color: #00be68;
        color: #FFF; 
    }
    .btn-outline-primary:active,
    .btn-outline-primary:visited,
    .btn-outline-primary:active:focus,
    .btn-outline-primary:active:hover {
        border-color: #00be68;
        background-color: #00be68;
        color: #FFF; 
    }
</style>

<div class = "row">
    <div class = "column">
    <!-- <div class = "ordercomplete"> -->
        <ul id = "fontsize15" style = "list-style: none; ">
            <hr style="border: solid 3px #00be68;">
            <li>주문이 완료되었습니다.</li>
            <li>오늘 {{ user.nickname }} 님의 주문으로</li>
            <li>{{ cart.get_total_price }}원이 절약되었습니다.</li>
            <li>지금까지 {} 님은</li>
            <li>{}원을 환경에 투자하셨습니다.</li>
            <li>저희 위빙을 통하여 절약된 금액은</li>
            <li id = "color">총 {}원 입니다.</li>
        </ul>
    </div>

    <div class = "column">
    <!-- <div class = "receipt"> -->
        <ul id = "fontsize15" style = "list-style: none; ">
            <li>결제 영수증</li>
            <li>결제 금액 : {27,000원}</li>
            <li>결제 수단 : {**카드}</li>
            <li>거래 일시 : {2020.10.12 16:07:59}</li>
            <li>공급가액/부가세 : {24,545원/2,455원}</li>
            <li>사업자번호 : 839-55-00602</li>
            <li>대표자명 : 이상륜</li>
            <li>주소 : 주소: 경기도 성남시 수정구 위례광장로 37 SG프라자2 상가 1층 102호 </li>
        </ul>
    </div>
</div>

</br>
</br>
</br>

    <div class = "gohome">
        <a href = "{% url 'shop:product_all' %}">
            <button id = "color" type="button" class="btn btn-primary btn-lg btn-block">홈으로 가기</button>
        </a>
    </div>

</br>

    <div class = "cancelorder">
        <a href = "{% url 'customerPage' %}">
            <button id = "color" type="button" class="btn btn-outline-primary btn-lg btn-block">결제 취소하러 가기</button>
        </a>
    </div>


</div>
{% endblock %}