{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="utf-8"/>
    <div id = "test">{{cart.get_total_price|floatformat:"0"}}</div>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script>
        (function () {
            var IMP = window.IMP;
            var code = "imp97121302";
            IMP.init(code);
            var $form = $('.list-group-item');
            var params = {
                name: $form.find('[name=name]').val(),
                amount: $form.find('[name=amount11]').val(),
            };
            var test1 = document.getElementById("test").innerHTML;

            console.log(test1)
            // 결제요청
            IMP.request_pay({
                // name과 amount만 있어도 결제 진행가능
                pg: 'html5_inicis', // pg 사 선택
                pay_method: 'card',
                merchant_uid: 'merchant_' + new Date().getTime(),
                name: '주문명:결제테스트', //product name으로 바꿔주기
                amount: test1,

                /////////////////////////////// 원화로 변경
                buyer_email: 'iamport@siot.do',
                buyer_name: '구매자이름',
                buyer_tel: '010-1234-5678',
                buyer_addr: '서울특별시 강남구 삼성동',
                buyer_postcode: '123-456',
                // m_redirect_url: 'https://www.yourdomain.com/payments/complete'
            }, function (rsp) {
                if (rsp.success) {
                    var msg = '결제가 완료되었습니다.';
                    msg += '고유ID : ' + rsp.imp_uid;
                    msg += '상점 거래ID : ' + rsp.merchant_uid;
                    msg += '결제 금액 : ' + rsp.paid_amount;
                    msg += '카드 승인번호 : ' + rsp.apply_num;
                } else {
                    var msg = '결제에 실패하였습니다. 에러내용 : ' + rsp.error_msg
                }
                // 결제 확인
                var flag = confirm(msg);

                if(flag == true){
                    location.href = 'complete/';
                }else{
                    alert("결제에 실패하였습니다. 사용자가 결제를 취소하였습니다.");
                    location.href = "http://daum.net";
                }
            });

        })();
    </script>

</head>

<body>
</body>

{% endblock %}
