{% load static %}

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Webeing</title>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/footer.css' %}"/>


    <!-- Load Vue followed by BootstrapVue, and BootstrapVueIcons -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- This is for Iamport Library-->
    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

    <!--  card-design css  -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/card.css' %}">

    <!-- naver 지도 api -->
    <!-- <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=42e319a57t"></script> -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=098fc9424b92d3acea88e66ad598a90b&libraries=services,clusterer,drawing"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=098fc9424b92d3acea88e66ad598a90b"></script>

    {% block head %}
    {% endblock %}
    <style>
        #footerfont {
            font-size: 120%;
            font-weight: bold;
        }

        .btn-outline-success {
            background-color: #FBF9F1;
            border-color: #2A6049;
            color: #2A6049;
        }
        /* .btn-outline-success:hover, */
        .btn-outline-success:focus {
            border-color: #2A6049;
            background-color: #FBF9F1;
            color: #2A6049; 
        }
        /* .btn-primary:active,
        .btn-primary:visited,
        .btn-primary:active:focus, */

        .btn-outline-success:hover {
            border-color: #2A6049;
            background-color: #FBF9F1;
            color: #2A6049; 
        }

        .btn-success {
        background-color: #2A6049;
        border-color: #2A6049;
        color: white;
    }

    .btn-success:focus {
        border-color: #2A6049;
        border-color: #2A6049;
        color: white;    
    }
    .btn-success:hover {
        border-color: #2A6049;
        background-color: #2A6049;
        color: white; 
    }
    </style>
</head>

<body style="background-color:#FBF9F1;">
    
<div id="nav" style="margin: 0px 100px 0 100px;">
    <b-navbar toggleable="lg" type="light" variant="#FBF9F1">
        <a href="/main"><img src="{% static '/img/webeing.png'%}" alt="webeing" style="width:80px; height: 80px;"></a>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>

            <!-- <b-navbar-nav class="mx-auto">
                <b-nav-form>
                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
                </b-nav-form>
            </b-navbar-nav> -->

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">

                {% if user.is_authenticated %}
                <a class="nav-link btn btn-outline-success" href="{% url 'cart:detail' %}">장바구니(
                    {% if cart|length > 0 %}
                    <!-- {{ cart.get_total_price }} with {{cart|length}} items -->
                    {{cart|length}} )
                    {% else %}
                    0 )
                    {% endif %}
                </a>
                <b-nav-item-dropdown right>
                    <!-- Using 'button-content' slot -->
                    <template v-slot:button-content>

                        {{ user.nickname }}

                    </template>

                    {% if user.is_seller == True %}
                    <b-dropdown-item href="{% url 'sellerPage' %}">마이위빙</b-dropdown-item>
                    {% else %}
                    <b-dropdown-item href="{% url 'customerPage' %}">마이위빙</b-dropdown-item>
                    {% endif %}

                    <b-dropdown-item href="{% url 'logout' %}">로그아웃</b-dropdown-item>
                </b-nav-item-dropdown>
                {% else %}
                <b-nav-item href="{% url 'signup' %}">회원가입</b-nav-item>

                <b-nav-item href="{% url 'login' %}">로그인</b-nav-item>
            </b-navbar-nav>

            {% endif %}
        </b-collapse>
    </b-navbar>
    <hr/>
</div>

<div style="margin : 0 100px 0 100px">
    <!-- <hr> -->

    {% block content %}
    {% endblock %}
</div>
</div>
<script>
    new Vue({
        el: "#template",
        data: {
            grid: {
                margin: '0 100px 0 100px',
            }
        }
    })
    new Vue({
        el: '#nav',
        data: {
            grid: {
                margin: '0 100px 0 100px',
            }
        },

    })
    new Vue({
        el: '#Home_card',
        data: {
            name: 'df'
        },

    })
    new Vue({
        el: '#Home_card1',
        data: {
            name: 'df'
        },

    })
    new Vue({
        el: '#Home_card2',
        data: {
            name: 'df'
        },

    })
    new Vue({
        el: '#Home_card3',
        data: {
            name: 'df'
        },

    })
    new Vue({
        el: '#sidebar',
        data: {
            name: ''
        },

    })
    new Vue({
        el: '#signup_2image',
        data: {
            name: ''
        },

    })

    new Vue({
        //export default {
        el: '#signup',
        data: {
            grid: {
                margin: '0 100px 0 100px',
            },
        },
        data() {
            return {

                userId: '',
                userPassword: ''
            }
        },
        computed: {
            validation_id() {
                return this.userId.length > 4 && this.userId.length < 30
            },
            validation_password() {
                return /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/.test(this.userPassword)
            }

        },
    })

    new Vue({
        el: "#cart123",
        data: {
            counter: 12
        }
    });


</script>

</body>

<footer style="background-color: #2a6049; width: 100%; padding: 30px 200px 10px 200px">

    <table>

        <colgroup>
            <col width="25%">
            <col width="20%">
            <col width="15%">
            <col width="20%">
            <col width="*">
        </colgroup>

        <thead style="line-height: 3rem; color:white;">
            <td id="footerfont">COMPANY</td>
            <td id="footerfont">INFORMATION</td>
            <td id="footerfont">DEVELOPERS</td>
            <td id="footerfont">HELPFUL</td>
            <td id="footerfont">CONTACT-US</td>

        </thead>

        <tbody>
            <tr>
                <td style="line-height: 1rem; color:#2a6049 ">
                    <p> likelion_8th   </p>
                </td>
            </tr>
            <tr>
                <td style="line-height: 1.2rem; color:white ">
                    <p>상호:위빙(Webeing)</p>
                    <p>대표:이상륜</p>
                    <p>개인정보관리책임자 : 한승조</p>
                    <p>개인정보담당자 : slowwvibes@gmail.com</p>
                    <p>사업자등록번호 : 839-55-00602</p>
                </td>
                <td style="line-height: 1.2rem; color:white ">
                    <p>주소:경기도 성남시
                        <br>수정구 위례광장로 37
                        <br>SG프라자2 상가 1층 102호
                    </p>
                </td>
                <td style="line-height: 1.2rem; color:white ">
                    <p>한승조</p>
                    <p>인세훈</p>
                    <p>이찬규</p>
                    <p>김재욱</p>
                    <p>최진영</p>
                </td>
                <td style="line-height: 1.2rem; color:white ">
                    <p><a href="{% url 'tos_user_use' %}" style="color:white">이용약관</a></p>
                    <p><a href="{% url 'tos_user_private' %}" style="color:white">개인정보처리방침</a></p>
                </td>
                <td style="line-height: 1.2rem;">
                    <p style="color:white">문의전화 : 010-9228-0236</p>
                    <p style="color:white">제휴 및 문의메일 : we-being@naver.com</p>
                    <br>
                    <p>
    
                        <a title="facebook" href="https://www.facebook.com/We-being-100435421763637" target="_blanck">
                            <img src="{% static '/img/facebook.png' %}" alt="facebook"
                                style="margin-right: 20px; width:10px; height:20px;">
                        </a>
        
                        <a title="instagram" href="https://www.instagram.com/we_being/" target="_blank">
                            <img src="{% static 'img/instagram.png' %}" alt="instagram"
                                style="margin-right: 20px; width:20px; height:20px;">
                        </a>
        
                        <a title="kakaotalk" href="http://pf.kakao.com/_sSYyxb" target="_blank">
                            <img src="{% static 'img/kakaotalk.png' %}" alt="kakao"
                                style="margin-right: 20px; width:20px; height: 20px;">
                        </a>
    
                    </p>
                </td>
            </tr>

        </tbody>

    </table>

    <!-- <hr style="border: 0.5px solid white; width:100%; "> -->
    <br>
    <p class="text-left" style="color: white">2020 @ copyright by WEBEING | All Right Reservered</p>
 

    <!-- <div class="footer-container" style="padding:50px;">

        <div class="startup"></div>
        <div class="information"></div>
        <div class="developers"></div>
        <div class="helpful"></div>
        <div class="contactus"></div>
        <div class="below"></div>

    </div> -->


</footer>

</html>
