a {
    text-decoration: none
}

.card {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 190px 120px 50px;
    grid-template-areas: "image" "text" "stats";

    border-radius: 18px;
    background: white;
    font-family: roboto;
    text-align: center;

}

.card-image {
    grid-area: image;
}

.card-text {
    grid-area: text;
}

.card-stats {
    grid-area: stats;
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin-top: 20px;
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 10px 10px 10px;
    border-radius: 1px;

}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: white;
    padding: 10px;
}

.card:hover {
    transform: scale(1.15);
}

.card {

. . . transition: 0.5 s ease;
    cursor: pointer;
    margin: 30px;
}

.starR {
    background: url('http://miuu227.godohosting.com/images/icon/ico_review.png') no-repeat right 0;
    background-size: auto 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;
}

.starR.on {
    background-position: 0 0;
}

.product_list_card{
    width : auto;
    height : auto;
    max-width: 100px;
    max-height: 100px;
    border : black;
}

