.box-container {
    display: grid;
    row-gap: 20px;
    justify-content: center;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 1fr;

    grid-template-areas:
        "envi_word envi_word envi_word"
        "goods_card1 goods_card2 goods_card3"


}

.item:nth-child(1) {
    grid-column:1/4;
    grid-row: 1 / 2;
}

.envi_word {
    grid-area: envi_word;
    width: 100%;
    height: 300px;

}

.envi_text {
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
    vertical-align: center;
}
.envi_img {
    z-index: 1;
    position: relative;
}

.goods-card1{
    grid-area:goods-card1;
}
.goods-card2{
    grid-area:goods-card2;
}
.goods-card3{
    grid-area:goods-card3;
}