.box-container {
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 230px 800px 600px 230px 200px 200px;

    row-gap: 50px;

    grid-template-areas:
        "store"
        "menus"
        "storelocation"
        "storeinfo"
        "storeowner"
        "foodinfo"
}

.store {
    grid-area: store;
    border: 1px solid black;
    padding: 10px;

}

.store-in {
    display: grid;

    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;

    column-gap: 30px;

    grid-template-areas:
        "storepic storeinfo"
}

.menu-in {
    display: grid;

    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;

    column-gap: 30px; 

    grid-template-areas:
        "menupic menuinfo"
}

.menuinfo {
    grid-area: menuinfo;
    vertical-align: center;
}

.storeinfo-in {
    display: grid;

    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
        "storetime storetime2"

}