.box-container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 230px 600px 600px 230px 200px 200px ;
    
    row-gap: 50px;
    
    grid-template-areas:
        "store"
        "menus"
        "storelocation"
        "storeinfo"
        "storeowner"
        "foodinfo"
}

.store {
    grid-area: store;
}

.store-in {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    grid-template-areas:
        "storepic storeinfo"
}

.menus {
    grid-area: menus;
}

.menu-in {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 30px;
    grid-template-areas:
        "menupic menuinfo cartbutton"
}

.menupic {
    grid-area: menupic;
    width: 70%;
    float: left;
    vertical-align: center;
}

.menuinfo {
    grid-area: menuinfo;
    vertical-align: center;
}

.cartbutton {
    grid-area: cartbutton;
    vertical-align: center;
}

.storeinfo-in {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "storetime storetime2"
}

#box-layout {
    width: 100%;
    border: 1px solid lightgray;
    padding: 20px;
    border-collapse: collapse;
}