.outcontainer {
    display: grid;

    grid-template-columns: 1fr;
    /* grid-template-rows: 1rem 72rem repeat(2, 30rem) repeat(2, 40rem) 10rem ; */
    grid-template-rows: 0fr 5fr repeat(2, 3.2fr) repeat(2, 3.6fr) 0fr;

    row-gap: 5rem;

    grid-template-areas:
        "gridheader"
        "main"
        "service1"
        "service2"
        "service3"
        "service4"
        "gridfooter"
}

.gridheader {
    grid-area:gridheader; 
    position: fixed;
    z-index: 5;
}
#logo {
    z-index: 6;
    position: fixed;
    float: left;
    margin-left: 10%; 
    top: 10%;
}
#snslist {
    z-index: 6;
    position: fixed;
    float: right;
    top : 10%;
    right: 10%;
    margin-right: 20px;
}


.main {
    grid-area: main; 
    z-index : 1;
}
#homebutton {
    right: 10%;
    bottom : 10%;
    float: right;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 5;
}


.service1 {
    grid-area: service1;
    background-color:#F1FAE9; 
}

.service2 {
    grid-area: service2;
    background-color:#F1FAE9;
}

.service3 {
    grid-area: service3;
    background-color:#F1FAE9;
}

.service4 {
    grid-area: service4;
    background-color:#F1FAE9;
}

.gridfooter {
    grid-area: gridfooter; 
    background-color: #CED4DA;
    text-align: left;
    padding: 2rem 0rem 1rem 3rem;
}

.checkimg {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#footer-display {
    position: relative;
    list-style: none;
    line-height: 200%;
}


.incontainer1 {
    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 5rem;

    grid-template-areas:
        "leftcard1 rightcard1"
        "leftcard2 rigthcard1"
}


.incontainer1:nth-child(2) {
    grid-column: 1/3 ;
}
.leftcard1 {
    list-style: none;
}


.incontainer2 {
    display: grid;

    grid-template-columns: 1fr 3fr 5fr;
    grid-template-rows: 1fr 1fr;

    column-gap: 5rem;

    grid-template-areas:
        "leftcard2 rightcard2 rightcard2"
        "leftcard2 middlecard2 rightcard22 "
}

.incontainer2:nth-child(1) {
    grid-column: 1/3;
}

.incontainer2:nth-child(1) {
    grid-row: 2/3;
}


.leftcard2 {
    grid-area: leftcard2;
    vertical-align: middle;
}

.rightcard2 {
    grid-area: rightcard2;
    text-align: right;
    list-style: none;
}

.rightcard22 {
    grid-area: rightcard22;
    text-align: left;
    list-style: none;
}


.incontainer3 {
    display: grid;

    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 1fr;

    row-gap: 0rem 10rem 0rem;

    grid-template-areas:
        ". . . . . . ."
        ". cardword cardword cardword cardword cardword ."
        ". card1 . card2 . card3 ."
        ". . . . . . ."
}

.incontainer1:nth-child(2) {
    grid-row: 2 / 7; 
}

.cardword {
    grid-area: cardword; 
    text-align: center;
}
.card1 {grid-area: card1; }
.card2 {grid-area: card2; }
.card3 {grid-area: card3; }


.incontainer4 {
    display: grid;

    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 7fr 1fr;

    grid-template-areas:
        ". . . . . . ."
        ". card11 . card12 . card13 ."
        ". . . . . . ."

}
.card11 {grid-area: card11; }
.card12 {grid-area: card12; }
.card13 {grid-area: card13; }

.footer-container {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px 100px;

    row-gap: 20px;

    grid-template-areas:
        "startup information developers helpful contactus"
        "below below below below below"
}

.startup {grid-area: startup;}
.information {grid-area: information;}
.developers {grid-area: developers;}
.helpful {grid-area: helpful;}
.contactus {grid-area: contactus;}
.below {
    grid-area: below;
}

.footer-container:nth-child(2) {
    grid-column: 1/6;
}

.footer-below {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas:
        "footerlogo footersns footercopyright footerapp"
}