{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Webeing</title>
        <meta name="description" content="A page background effect where SVG shapes morph and transform on scroll"/>
        <meta name="keywords" content="background, svg, morph, animation, scroll, shape, web development, css, javascript"/>
        <meta name="author" content="Codrops"/>
        <link rel="shortcut icon" href="favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static  'css/normalize.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'sponsor/pater.css' %}"/>

        <script>
            document.documentElement.className = 'js';
            var supportsCssVars = function () {
                var s = document.createElement('style'),
                    support;

                s.innerHTML = "root: { --tmp-var: bold; }";
                document.head.appendChild(s);
                support = !!(window.CSS && window.CSS.supports && window.CSS.supports('font-weight', 'var(--tmp-var)'));
                s.parentNode.removeChild(s);
                return support;
            }
            if (!supportsCssVars()) alert('Please view this demo in a modern browser that supports CSS Variables.')
        </script>

        <style>
            #fontgreen{color: #2CAE65;}
            #subtitle {
                font-size:1.5rem;
                font-weight: 300%;
            }
            #subsubtitle {font-size:1.1rem;}
        </style>

    </head>

    <body class="demo-2 loading">
        <svg class="hidden">
            <symbol id="icon-arrow" viewBox="0 0 24 24">
                <title>arrow</title>
                <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
            </symbol>
            <symbol id="icon-drop" viewBox="0 0 24 24">
                <title>drop</title>
                <path d="M12,21c-3.6,0-6.6-3-6.6-6.6C5.4,11,10.8,4,11.4,3.2C11.6,3.1,11.8,3,12,3s0.4,0.1,0.6,0.3c0.6,0.8,6.1,7.8,6.1,11.2C18.6,18.1,15.6,21,12,21zM12,4.8c-1.8,2.4-5.2,7.4-5.2,9.6c0,2.9,2.3,5.2,5.2,5.2s5.2-2.3,5.2-5.2C17.2,12.2,13.8,7.3,12,4.8z"/>
                <path d="M12,18.2c-0.4,0-0.7-0.3-0.7-0.7s0.3-0.7,0.7-0.7c1.3,0,2.4-1.1,2.4-2.4c0-0.4,0.3-0.7,0.7-0.7c0.4,0,0.7,0.3,0.7,0.7C15.8,16.5,14.1,18.2,12,18.2z"/>
            </symbol>
            <symbol id="shape-demo" viewBox="0 0 200 100">
                <title>shape demo</title>
                <path d="M 6.144,74.1 C 20.4,107.4 70.13,94.33 94.22,95.74 121.3,97.41 130.8,101.1 154.7,99.38 178.6,97.72 201.9,78.95 199.4,46.86 197.1,14.96 174.9,4.781 161.4,1.827 147.9,-1.128 119.8,8.284 105.6,8.766 85.34,9.449 81.91,7.628 51.08,2.334 17.26,-3.482 -8.105,40.84 6.144,74.1 Z"/>
            </symbol>
        </svg>

        <main>

            <div class="morph-wrap">
                <svg class="morph" width="1400" height="770" viewBox="0 0 1400 770">
                    <path d="M 262.9,252.2 C 210.1,338.2 212.6,487.6 288.8,553.9 372.2,626.5 511.2,517.8 620.3,536.3 750.6,558.4 860.3,723 987.3,686.5 1089,657.3 1168,534.7 1173,429.2 1178,313.7 1096,189.1 995.1,130.7 852.1,47.07 658.8,78.95 498.1,119.2 410.7,141.1 322.6,154.8 262.9,252.2 Z"/>
                </svg>
            </div>

            <div class="content content--fixed">
                <header class="codrops-header">
                    <div class="codrops-links">
                        <svg class="decoshape" viewBox="0 0 200 100" width="100%" height="100%" preserveAspectRatio="none">
                            <path d="M 10.45,74.41 C 39.4,110.8 72.59,67.27 95.98,68.68 122.3,70.35 131.5,101.4 154.7,99.69 177.9,98.03 200.5,79.26 198.1,47.17 195.9,15.27 174.6,-0.3279 151.8,0.9941 128.6,2.581 126,16.86 107,22.76 88.26,28.67 88.87,12.36 60.37,1.787 31.79,-8.877 -18.61,37.92 10.45,74.41 Z"/>
                        </svg>
                    </div>
                    <img src="{% static '/img/webeing.png'%}" alt="webeing" style="width:100px; height: 100px;">

                    <h1 class="codrops-header__title" style="margin-top: 25px;">Webeing</h1>
                </header>
                <nav class="demos" style="margin-left: 30px;">
                    <a title="facebook" href="https://www.facebook.com/We-being-100435421763637" target="_blanck">
                        <img src="{% static '/img/facebook.png' %}" alt="facebook"
                            style="margin: 0 0 20px 10px; width:15px; height:30px;">
                    </a>
                    <br>
                    <a title="instagram" href="https://www.instagram.com/we_being/" target="_blank">
                        <img src="{% static 'img/instagram.png' %}" alt="instagram"
                            style="margin-bottom: 20px; width:30px; height:30px;">
                    </a>
                    <br>
                    <a title="kakaotalk" href="http://pf.kakao.com/_sSYyxb" target="_blank">
                        <img src="{% static 'img/kakaotalk.png' %}" alt="kakao"
                            style="margin-bottom: 20px; width:30px; height: 30px;">
                    </a>
                </nav>
                <a class="pater" href="/main">
                    <svg class="pater__deco" width="300" height="240" viewBox="0 0 1000 800">
                        <path d="M27.4,171.8C73,42.9,128.6,1,128.6,1s0,0,0,0c58.5,0,368.3,0.3,873.2,0.8c38.5,211,42.1,373.5,38.9,476.7c-2.5,80.3-10.6,174.9-76.7,247.8c-15.1,16.6-37.4,41.2-72.8,53.9c-92.4,33.1-173-50.8-283.9-99.4c-224.3-98.4-334.9,51.4-472.2-45.6C-6.3,535.2-14.5,290.6,27.4,171.8z"/>
                    </svg>
                    <img class="pater__img" src="{% static '/img/homebutton.png' %}" style="width:150px; padding-bottom: 5rem;" alt="HelloSign API"/>
                    <!--            <h4 class="pater__title">2x Faster Integration Time</h4>-->
                    <p class="pater__desc">Webeing은 여러분과 환경보호를 위해 앞장서겠습니다!!</p>
                </a>
                <div class="deco deco--title">2020 Webeing service</div>
            </div>

            <div class="content-wrap">
                <div class="content content--layout content--layout-2">
                    <img class="content__img" src="{% static '/img/webeing.png' %}" style="width:600px; height:600px;" alt="Some image"/>
                    <h3 class="content__title" style="font-size: 10rem">WEBEING</h3>
                    <h4 class="content__desc" style="font-size:2rem;"><span id="fontgreen">초록 식문화</span>의 출발,<br>음식에 <span id="fontgreen">환경</span>의 가치를<br>더하다</h4>
                </div>
            </div>

            <div class="content-wrap">
                <div class="content content--layout content--layout-1">
                    <img class="content__img" src="{% static '/img/service1.png' %}" alt="Some image"/>
                    <h3 class="content__title" style="padding-left: 10rem;">재고상품처리</h3>
                    <p class="content__desc"><span id="subtitle">유통기한이 지난 재고상품을 처리할 때마다<br>생기는 고민</span>
                        <br><br>
                        <span id="subsubtitle">- 버려지는 수많은 음식들
                        <br>- 매번 낭비되는 비용들
                        <br>- 음식물 쓰레기로 인한 환경오염</span>
                    </p>
                </div>
            </div>

            <div class="content-wrap">
                <div class="content content--layout content--layout-3">
                    <img class="content__img" src="{% static  'img/service2.png' %}" style="width:380px; height: 380px;" alt="Some image"/>
                    <h3 class="content__title" style="margin-top: 3rem;">합리적인 소비</h3>
                    <p class="content__desc"><span id="subtitle">환경보호와 더불어 저렴한 가격으로 상품을 구매</span>
                        <br><br>
                        <span id="subsubtitle">- 원하는 상품의 합리적인 가격의 소비
                        <br>- 환경을 생각하는 착한 소비
                        <br>- 경제적, 시간적인 가계 부담 감소</span>
                    </p>
                </div>
            </div>

            <!-- Related demos -->

            <section class="content content--related">
                <p class="content__info" style="text-align:center;"><strong><h2>1년간 국내 음식물 쓰레기 발생량은</h2><br></strong></p>

                <div class="content__related-item">
                    <img class="content__related-img" src="{% static '/img/service3-1.png' %}" style="width:30%;">
                    <h3 class="content__related-title">온실가스</h3>
                    <p class="content__info">하루 235만대의 차량주행시 배출되는 온실가스의 양과 동일합니다.</p>
                </div>

                <div class="content__related-item">
                    <img class="content__related-img" src="{% static '/img/service3-2.png' %}" style="width:30%;">
                    <h3 class="content__related-title">쓰레기 산</h3>
                    <p class="content__info">연간 배출되는 음식물쓰레기의 양은 63빌딩 19채와 같습니다.</p>
                </div>

                <div class="content__related-item">
                    <img class="content__related-img" src="{% static '/img/service3-3.png' %}" style="width:30%;">
                    <h3 class="content__related-title">절감 효과</h3>
                    <p class="content__info">음식물처리비용절감시 커피 5.5억잔, 서울 아파트 2만4천채를 구매할 수 있습니다.</p>
                </div>

            </section>

            <section class="content content--related" style="margin-top: 25rem;">
                <p class="content__info" style="float: left 50%;"><strong><h2>위빙에 선사하는 서비스</h2><br></strong></p>

                <div class="content__related-item">
                    <img class="content__related-img" style="width:30%;" src="{% static '/img/service4-1.png' %}">
                    <h3 class="content__related-title">마감 할인</h3>
                    <p class="content__info">정상적인 재고 음식들을 할인해서 소비자에게 연결해줌으로서 저렴한 가격에 구입을 할 수 있으며,<br>
                        더 나아가 버려질 수 있던 음식들의 낭비를 감소시킴으로서 환경 오염 등 여러사회적문제를 해결할 수 있을 것입니다.</p>
                </div>

                <div class="content__related-item">
                    <img class="content__related-img" style="width:30%;" src="{% static '/img/service4-2.png' %}">
                    <h3 class="content__related-title">환경 계좌</h3>
                    <p class="content__info">위빙을 통하여 구매한 금액 중 일부를 환경에 기여한 금액으로 산정하여 환경 계좌에 적립될 예정입니다.<br>
                        적립된 금액은 위빙 굿즈를 구매하거나 음식 구매시 할인, 또는 환경을 위한 모금활동에 사용 할 수 있습니다.</p>
                </div>

                <div class="content__related-item">
                    <img class="content__related-img" style="width:30%;" src="{% static '/img/service4-3.png' %}">
                    <h3 class="content__related-title">음식 판매</h3>
                    <p class="content__info">환경 보호를 위한 위빙의 목표를 위하여 일회용품을 줄이기 위한 굿즈를 판매할 계획입니다.<br> 
                        에코백, 텀블러를 시작으로 머그컵과 같은 상품까지 구입 할 수 있습니다.</p>
                </div>

            </section>

            <div class="content-wrap" style="margin-top: 30rem;">

                <style>
                    p1 {
                        font-family: 'Nanum Gothic Coding', monospace;
                    }
                </style>
                <ul style="line-height: 40px;">
                    <div class="row">
                        <div class="col">
                            <div class="row" style="font-weight: bold; font-size: 25px;">
                                <p1>Information</p1>
                            </div>
                            <div class="row">
                                <p1>상호: 위빙(Webeing)</p1>
                            </div>
                            <div class="row">
                                <p1>대표: 이상륜</p1>
                            </div>
                            <div class="row">
                                <p1>개인정보관리책임자: 한승조</p1>
                            </div>
                            <div class="row">
                                <p1>개인정보담당자: slowwvibes@gmail.com</p1>
                            </div>
                            <div class="row">
                                <p1>사업자등록번호: 839-55-00602</p1>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="row" style="font-weight: bold; font-size: 25px;">
                                <p1>Address</p1>
                            </div>
                            <div class="row">
                                <p1>
                                    경기도 성남시 수정구
                                    창곡동 564 푸르지오5단지
                                    상가 5B-102호
                                </p1>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="row" style="font-weight: bold; font-size: 25px;">
                                <p1>Developers</p1>
                            </div>
                            <div class="row">
                                <p1>한승조 인세훈 이찬규 김재욱 최진영</p1>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="row" style="font-weight: bold; font-size: 25px;">
                                <p1>Helpful Links</p1>
                            </div>
                            <div class="row">
                                <p1><a href="#">이용약관</a></p1>
                            </div>
                            <div class="row">
                                <p1><a href="#">개인정보처리방침</a></p1>
                            </div>
                        </div>
                        <br>
                        <div class="col">
                            <div class="row" style="font-weight: bold; font-size: 25px;">
                                <p1>Contact Us</p1>
                            </div>
                            <div class="row">
                                <p1><img src="{% static 'img/contact.png' %}" alt="contact" style="width: 20px;">
                                    <span>010-9228-0236</span></p1>
                            </div>
                            <div class="row">
                                <p1><img src="{% static 'img/email.png' %}" alt="contact" style="width: 20px;">
                                    <span>we-being@naver.com</span></p1>
                            </div>
                        </div>

                    </div>

                    <br>
                    <div style="text-align: center;">
                        <p1>copyright by Webeing.</p1>
                    </div>

                </ul>

            </div>
            <!--    <section class="content content&#45;&#45;related">-->

            <!--    </section>-->
        </main>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/anime.min.js' %}"></script>
        <script src="{% static 'js/scrollMonitor.js' %}"></script>
        <script src="{% static 'js/demo2.js' %}"></script>

    </body>

</html>