{% extends 'base.html' %}
{% block title %}Category Page{% endblock %}
{% block content %}
{% load static %}

<style>
    #fontbold {
        font-weight: bold;
    }

    #subfont {
        font-weight: bold;
        font-size: 150%;
    }

    #susubfont {
        font-size: 80%;
    }

    .alert-custom {
        background-color: #6089D5;
        color: #fff;
    }
</style>

<div class="row">
    <div class="col-2" style="background-color: #FAF9E6; border : #022601">
        <br>
        <div class="list-group">
            <a href="/main"
               class="list-group-item {% if not current_category %}active{% endif %}; background: #022601;"
               style="color:black;">전체보기</a>
            {% for c in categories %}
            <a href="{{c.get_absolute_url}}"
               class="list-group-item {% if current_category.slug == c.slug %}active{% endif %}; background: #022601;"
               style="color:black; ">{{c.name}}</a>
            {% endfor %}
        </div>
    </div>


    <div class="col" style="background-color : #FAF9E6">
        <div class="alert alert-custom" role="alert"
             style="background-color:#FAF9E6; border-color:white; color : #022601">
            {% if current_category %}{{current_category.name}}{% else %}모든 상품{% endif %}
        </div>
        <div class="row">
            {% for restaurant in restaurants %}

            <a href="{{restaurant.get_absolute_url}}" style="text-decoration:none">
                <div class="card" style = "padding-top : 30px; background-color: white; box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);">

                    <div class="card-image"><img style="width: 80%; height: 170px; " src="{{restaurant.image.url}}">
                    </div>
                    <div class="card-text" style="color : #022601">
                        <h3>{{restaurant.name}}</h3>
                        <p>{{restaurant.description}} <br> {{restaurant.product.origin_price}} → {{product.price}}
                        </p>
                    </div>

                </div>
            </a>

            {% endfor %}


        </div>
    </div>

</div>

{% endblock %}
