{% extends 'base.html' %}
{% block title %}Category Page{% endblock %}
{% block content %}
{% load static %}

<style>
    #fontbold {
        font-weight: bold;
    }

    #subfont {
        font-weight: bold;
        font-size: 150%;
    }

    #susubfont {
        font-size: 80%;
    }
</style>

<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a href="/main" class="list-group-item {% if not current_category %}active{% endif %}">All</a>
            {% for c in categories %}
            <a href="{{c.get_absolute_url}}"
               class="list-group-item {% if current_category.slug == c.slug %}active{% endif %}">{{c.name}}</a>
            {% endfor %}
        </div>
    </div>


    <div class="col">
        <div class="alert alert-info" role="alert">
            {% if current_category %}{{current_category.name}}{% else %}All Products{% endif %}
        </div>
        <div class="row">
            {% for restaurant in restaurants %}

            <a href="{{restaurant.get_absolute_url}}" style="text-decoration:none">
                <div class="card">

                    <div class="card-image"><img style="max-width: 100%" src="{{restaurant.image.url}}"></div>
                    <div class="card-text">
                        <h3>{{restaurant.name}}</h3>
                        <p>{{restaurant.description}} <br> 22,000원 -> 20,000원 </p>
                        <!--                    <a href="{{restaurant.get_absolute_url}}" class="btn btn-success">Webeing 하러 가기!</a>-->
                    </div>
                    <div class="card-stats">
                        <div class="stat">
                            <div class="value">
                                <!-- <div class="starRev">
                                    <span class="starR on">별1</span>
                                    <span class="starR">별2</span>
                                    <span class="starR">별3</span>
                                    <span class="starR">별4</span>
                                    <span class="starR">별5</span>
                                </div> -->
                                <h5 style="color:black;">{  } / 5</h3>
                            </div>

                        </div>
                        <div class="stat">
                            <div class="value" style="color:black;">5123 views</div>
                        </div>
                    </div>

                </div>
            </a>

            {% endfor %}
        </div>

    </div>
    
</div>


{% endblock %}
