{% extends 'base.html' %}
{% block title %}Category Page{% endblock %}
{% block content %}

<style>
    #fontbold {font-weight: bold;}
    #subfont {
        font-weight: bold;
        font-size: 150%;
    }
    #susubfont {
        font-size: 80%;
    }
</style>

<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a href="/main" class="list-group-item {% if not current_category %}active{% endif %}">All</a>
            {% for c in categories %}
            <a href="{{c.get_absolute_url}}"
               class="list-group-item {% if current_category.slug == c.slug %}active{% endif %}">{{c.name}}</a>
            {% endfor %}
        </div>
    </div>


    <div class="col">
        <div class="alert alert-info" role="alert">
            {% if current_category %}{{current_category.name}}{% else %}All Products{% endif %}
        </div>
        <div class="row">
            {% for restaurant in restaurants %}

<!--            <div class="col-4">-->
<!--                <div class="card">-->
<!--                    <img class="card-img-top" src="{{restaurant.image.url}}" alt="restaurant Image">-->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">{{restaurant.name}}</h5>-->
<!--                        <p class="card-text">{{restaurant.description}} <br><span class="badge badge-secondary">$</span>-->
<!--                        </p>-->
<!--                        <a href="{{restaurant.get_absolute_url}}" class="btn btn-primary">View Detail</a>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!-- 
            <div class="card">
                <div class="card-image"><img style = "max-width: 100%" src="{{restaurant.image.url}}"> </div>
                <div class="card-text">
                    <span class="date">추천</span>
                    <h2>{{restaurant.name}}</h2>
                    <p>{{restaurant.description}}</p>
                    <a href="{{restaurant.get_absolute_url}}" class="btn btn-success">Webeing 하러 가기!</a>
                </div>
                <div class="card-stats">
                    <div class="stat">
                        <div class="value">4<sup>m</sup></div>
                        <div class="type">read</div>
                    </div>
                    <div class="stat border">
                        <div class="value">5123</div>
                        <div class="type">views</div>
                    </div>
                    <div class="stat">
                        <div class="value">32</div>
                        <div class="type">comments</div>
                    </div>
                </div>
            </div> -->

            <div class = "card">

                <a href="{{restaurant.get_absolute_url}}">

                    <div class="card-image"><img style = "max-width: 100%" src="{{restaurant.image.url}}"> </div>

                    <div class = "card-stats">
                        <p id = "subfont">{{restaurant.name}}</p>
                        <p id = "susubfont">{{restaurant.description}} | 22,000원 -> 20,000원</p>
                        <div class = "stat" id = "susubfont">
                            <span>별별별별별 4.7 | 5123 views</span>
                        </div>

                    </div>

                </a>

            </div>

            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
