{% extends 'base.html' %}
{% block title %}Restaurant Page{% endblock %}
{% block content %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/product_list.css' %}"/>

<style>
    #restaurantfont {
        font-size: 180%;
        font-weight: bold;
    }

    #restaurant_location {
        font-size: 180%;
        font-weight: bold;
    }

    #green {
        font-size: 1.5rem;
        font-weight: bold;
        color: #2A6049;
    }

    #red {
        font-size: 1.5rem;
        font-weight: bold;
        color: red;
    }

    #bold {
        font-weight: bold;
    }

    th, td {
        padding: 10px;
    }

    #my_modal {
        display: none;
        width: 400px;
        padding: 20px 60px;
        background-color: #fefefe;
        border: 1px solid #888;
        border-radius: 3px;
        text-align: center;
    }

    #my_modal .modal_close_btn {
        position: absolute;
        top: 10px;
        right: 15px;
    }
</style>

<!-- <div class="box-container"> -->

<div class="store" id="box-layout" style="margin: 50px 0px 50px 0px; background-color: white">

    <div class="store-in">

        <div class="storepic">
            <div class="card-image"><img style="max-width: 100%" src="{{current_restaurant.image.url}}"></div>
        </div>

        <div class="storeinfo">
            <p id="restaurantfont">{{current_restaurant.name}}</p>
            <p>전화번호 | {{current_restaurant.call_number}}</p>
            <p>지도 | <a href="#restaurant_location" style="color:black">위치보기</a></p>
        </div>

    </div>

</div>

<div style="margin-bottom:50px;">

    <p><span id="restaurantfont">오늘의 상품</span><span style="float: right;">오늘 판매하는 상품만 등록합니다.</span></p>

    <!-- Up to 3 menus -->
    {% for product in products %}

    <div class="menu-in" id="box-layout" style="background-color: white">

        <div class="menupic">
            <p class="text-center">
                <img class="card-img-top" src="{{product.image.url}}" alt="restaurant Image"
                     style=" height: 150px;width: 150px; ">
            </p>
        </div>

        <div class="menuinfo">
            <ul style="list-style: none;">
                <br>
                <li id="restaurantfont">{{product.name}}</li>
                <br>
                <li><span id="green">{{product.origin_price}}원 </span> → <span id="red">{{product.price}}원<span
                        id="green"> ( {{product.discount|floatformat:"0"}} % )</span></span></li>
                <div onload="boxlayout()">
                    <li id="result"></li>
                </div>
            </ul>
        </div>

        <div class="cartbutton"><br>
            <form action="{% url 'cart:product_add' product.id  %}" method="post">
                {{add_to_cart}}
                {% csrf_token %}
                {% if request.user.is_authenticated %}
                <input type="submit" class="btn btn-success btn-sm" value="카트 추가" style="margin-top:20px;">
                {% else %}
                <div onclick="
                    var a= alert('위빙서비스를 이용하시려면 로그인을 해주세요!');"><input class="btn btn-success btn-sm" value="카트 추가"
                                                                      style="margin-top:20px;">
                </div>
                {% endif %}
            </form>
        </div>

    </div>
    {% endfor %}

    {% if products|length == 0 %}
    <div style="margin: 2rem;">
        <p id ="no_restaurant" style="font-size:1.5rem;">상품을 준비중입니다.</p>
    </div>
    {% endif %}

</div>

<div style="margin-bottom:50px;">
    <table class="table table-hover">

        <thead>
        <tr style="background-color: white;">
            <th>날짜</th>
            <th>댓글</th>
            <th>작성자</th>
            <th></th>
        </tr>
        </thead>

        <tbody style="background-color: white;">
        {% for post in page_posts %}
        <tr>
            <td id="blog_date">{{post.pub_date}}</td>
            <td id="blog_title" style="width : 500px;">{{post.body}}</td>
            <td id="blog_owner">{{post.owner}}</td>
            <td>

                {% if user.email == post.owner %}
                <button class="btn btn-success" onclick="location.href='{% url 'shop:deletecomment' post.id %}'">삭제하기
                </button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="paginator" style="text-align: center">
        {% if page_posts.has_previous %}
        <a href="?page=1" style="color: black;">첫페이지</a>
        <a href="?page={{page_posts.previous_page_number}}" style="color: black;">< 이전</a>
        {% endif %}
        <span>{{page_posts.number}}</span>
        <span>of<span>
                    <span>{{page_posts.paginator.num_pages}}</span>

                {% if page_posts.has_next %}
                    <a href="?page={{page_posts.next_page_number}}" style="color: black;">다음 ></a>
                    <a href="?page={{page_posts.paginator.num_pages}}" style="color: black;">마지막페이지</a>
                {% endif %}
    </div>
    {% if request.user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}

        <h4>리뷰 달기</h4>
        <div class="row">
            <div class="col-sm-11">
                <textarea id="newpost_body" cols=120 rows=2 name="body"
                          style="width:100%; border: 1px solid lightgray;"></textarea>
            </div>
            <div class="col-sm-1">

                <input style=" text-align: right;" class="btn btn-dark" type="submit" value="제출">

            </div>
        </div>
    </form>
    {% else %}

    <h4>리뷰 달기</h4>
    <div class="row">
        <div class="col-sm-11">
                <textarea id="newpost_body" cols=120 rows=2 name="body"
                          style="width:100%; border: 1px solid lightgray;"></textarea>
        </div>
        <div class="col-sm-1">
            <div onclick="
                    var a= alert('위빙서비스를 이용하시려면 로그인을 해주세요!');"><input style=" text-align: right;" class="btn btn-dark" type="submit"
                                             value="제출"></div>
        </div>
    </div>
    {% endif %}
</div>

<div class="storelocation" id="margin" style="margin-bottom:50px;">

    <p><span id="restaurant_location">매장 위치</span></p>

    <!-- for map -->
    <div id="map" style="width:100%;height:500px;"></div>


</div>

<div class="storeinfo" style="margin-bottom:50px; ">

    <p><span id="restaurantfont">매장 정보</span></p>

    <div id="box-layout" style="background-color: white">

        <table>

            <colgroup>
                <col width="35%"/>
                <col width="*"/>
            </colgroup>

            <tr>
                <td>영업시간</td>
                <td>{{current_restaurant.open_time}}</td>
            </tr>

            <tr>
                <td>전화번호</td>
                <td>{{current_restaurant.call_number}}</td>
            </tr>

            <tr>
                <td>주소</td>
                <td>
                    <div id="address">{{current_restaurant.location}}</div>
                </td>
            </tr>

        </table>

    </div>

</div>

<div class="storeowner" style="margin-bottom:50px;">

    <p><span id="restaurantfont">사업자 정보</span></p>

    <div id="box-layout" style="background-color: white">

        <table>

            <colgroup>
                <col width="45%"/>
                <col width="*"/>
            </colgroup>

            <tr>
                <td>상호명</td>
                <td>{{current_restaurant.name}}</td>
            </tr>

            <tr>
                <td>사업자등록번호</td>
                <td>{{current_restaurant.business_number}}</td>
            </tr>

        </table>

    </div>

</div>

<div class="foodinfo" style="margin-bottom:50px;">

    <p><span id="restaurantfont">원산지 정보</span></p>

    <div id="box-layout" style="background-color: white">
        <p>{{current_restaurant.food_origin}}</p>
    </div>

</div>

<div id="my_modal">
    <p id="pagecolor" style="font-size: 1.5rem;">< 위빙 서비스안내 ></p>
    <p>위빙서비스를 이용하시려면 로그인을 해주세요!</p>
    <a class="modal_close_btn" style="float:right;color: black;">X</a>
</div>

<script>
    function boxlayout() {
        var origin_price = document.getElementById("red").innerHTML;
        var price = document.getElementById("green").innerHTML
        result = parseInt(origin_price) / parseInt(price)
        document.getElementById("result").innerHTML = result
    }


</script>

<script>
    var address = document.getElementById("address").innerHTML;

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(127.140083, 37.4676097), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch(address, function (result, status) {

        // 정상적으로 검색이 완료됐으면
        if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao.maps.Marker({
                map: map,
                position: coords
            });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">{{current_restaurant.name}}</div>'
            });
            infowindow.open(map, marker);

            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
        }
    });

</script>
<script>
    function modal(id) {
        var zIndex = 9999;
        var modal = document.getElementById(id);

        // 모달 div 뒤에 희끄무레한 레이어
        var bg = document.createElement('div');
        bg.setStyle({
            position: 'fixed',
            zIndex: zIndex,
            left: '0px',
            top: '0px',
            width: '100%',
            height: '100%',
            overflow: 'auto',
            // 레이어 색갈은 여기서 바꾸면 됨
            backgroundColor: 'rgba(0,0,0,0.4)'
        });
        document.body.append(bg);

        // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
        modal.querySelector('.modal_close_btn').addEventListener('click', function () {
            bg.remove();
            modal.style.display = 'none';
        });

        modal.setStyle({
            position: 'fixed',
            display: 'block',

            // 시꺼먼 레이어 보다 한칸 위에 보이기
            zIndex: zIndex + 1,

            // div center 정렬
            top: '50%',
            left: '50%',
            transform: 'translate(-50%, -50%)',
            msTransform: 'translate(-50%, -50%)',
            webkitTransform: 'translate(-50%, -50%)'
        });
    }

    // Element 에 style 한번에 오브젝트로 설정하는 함수 추가
    Element.prototype.setStyle = function (styles) {
        for (var k in styles) this.style[k] = styles[k];
        return this;
    };

    document.getElementById('popup_open_btn4').addEventListener('click', function () {
        // 모달창 띄우기
        modal('my_modal');
    });
    document.getElementById('popup_open_btn5').addEventListener('click', function () {
        // 모달창 띄우기
        modal('my_modal');
    });
    document.getElementById('popup_open_btn3').addEventListener('click', function () {
        // 모달창 띄우기
        modal('my_modal');
    });
</script>
{% endblock %}
