{% extends 'base.html' %}
{% block title %}Restaurant Page{% endblock %}
{% block content %}

<style>
    #storefont {
        font-size: 180%;
        font-weight: bold;
    }
</style>

<div class="box-container">

    <div class="store" style="border:1px solid lightgray; padding:10px;">

        <div class="store-in">

            <div class="storepic">
                <div class="card-image"><img style="max-width: 100%" src="{{restaurant.image.url}}"></div>
            </div>

            <div class="storeinfo">
                <p id="storefont">{{current_restaurant.name}}</p>
                <p>거리 | </p>
                <p>지도 | 위치보기</p>
                <p>별별별별별 4.7</p>
            </div>

        </div>

    </div>

    <div class="todaymenu">

        <div class="menu">

            <div class="menutitle">
                <p><span id="storefont">오늘의 상품</span><span style="float: right;">오늘 판매하는 상품만 등록합니다.</span></p>
            </div>

            <div class="menus" style="border:1px solid lightgray; padding:10px;">

                {% for product in products %}

                <div class="menu-in">

                    <a href="{{product.get_absolute_url}}">

                        <div class="menupic">

                            <img class="card-img-top" src="{{product.image.url}}" alt="restaurant Image">

                        </div>

                        <div class="menuinfo">

                            <div class="col-4">

                                <div class="card">


                                    <div class="card-body">
                                        <p class="card-title" id="storefont">{{product.name}}</p>
                                        <span class="badge badge-secondary">${{product.price}}</span>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </a>

                </div>

                {% endfor %}

            </div>

        </div>

    </div>

    <div class="storelocation">

        <p><span id="storefont">매장 위치</span></p>


    </div>

    <div class="storeinfo">

        <p><span id="storefont">매장 정보</span></p>

        <ul style="list-style: none; border:1px solid lightgray; padding:10px;">
            <li><span>영업시간</span></li>
            <li><span>전화번호</span></li>
            <li><span>주소</span></li>
        </ul>

    </div>

    <div class="storeowner">

    </div>

    <div class="foodinfo">

    </div>

</div>


<div class="row">

    <div class="col">

        <div class="row">


            {% endblock %}
