{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="col-3">
    <div id="Home_card3" style="max-height: 15rem;">
        <b-card title="노랑통닭" img-src="../static/img/노랑통닭.png" img-alt="Image" img-top tag="article"
            style="max-width: 15rem;" class="mb-2">
            <b-card-text>
                노랑통닭에서 할인하는 치킨들을 먹고싶다면!
            </b-card-text>

            <b-button href="" variant="success">주문하러 가기</b-button>
        </b-card>
    </div>
</div>
{% endblock %}






{% endblock %}